@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-3">Orders List</h1>
</div>
    @foreach(var order in Model.Orders) {
        @order.From
        @order.To
        @order.Type
        @order.Date
        @order.Description
    }
