@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center mb-5">
    <h1 class="display-3">Orders List</h1>
</div>
<table class="table table-sm table-striped">
    <thead class="table-secondary pd-3">
        <tr>
            <th class="p-2 ps-5" scope="col">From</th>
            <th class="p-2" scope="col">To</th>
            <th class="p-2" scope="col">Type</th>
            <th class="p-2" scope="col">Date</th>
            <th class="p-2" scope="col">Description</th>
        </tr>
    </thead>
    <tbody class="p-5">
        @foreach(var order in Model.Orders) {
            <tr>
                <td class="p-2">@order.From</td>
                <td class="p-2">@order.To</td>
                <td class="p-2">@order.Type</td>
                <td class="p-2">@order.Date.ToString("yyyy-MM-dd")</td>
                <td class="p-2">@order.Description</td>
            </tr>
        }
    </tbody>
</table>
